#homebackground{
    background-image: url('https://i.imgur.com/Yl1WuyK.jpg');

    min-height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

